Package: com.jontelang.syslogwindow
Name: syslogWindow
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Shows the syslog on your screen
Maintainer: Jonathan Winger-lang
Author: Jonathan Winger-lang
Section: Tweaks
